* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
    --logo-1: white;
    --logo-2: rgb(215, 92, 110);
    --logo-3: #16efff;
}
.secssion_foot{
    background-color: #120f0fdc;
    font-size: 14px;
}
.title{
    font-size: 18px;
    color: aliceblue;
    font-weight: bold;
}
.container:after, .row:after, .clearfix:after, .clear:after {
    content: "";
    display: table;
    clear: both;
}
.is-divider {
    height: 3px;
    display: block;
    background-color: rgba(0,0,0,0.1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
}
.footer_content{
    color: rgb(235, 227, 217);
    margin: 0;
}
.footer_content a:hover{
    color: red;
}
footer {
    bottom: 0;
}
footer a > i::before {
    padding: 5px;
    border-radius: 20px;
    margin-right: 5px;
    color: aliceblue;
}
footer a#facebook > i::before{
    background-color: #4371cd;
    border: 1px solid #4371cd;
    padding-right: 9px;
    padding-left: 9px;
}
footer a#instagram > i::before{
    background-color: #405DE6;
    border: 1px solid #405DE6;
} 
footer a#twitter > i::before{
    background-color: #1DA1F2;
    border: 1px solid #1DA1F2;
} 
footer a#pinterest > i::before{
    background-color: #E60023;
    border: 1px solid #E60023;
    padding-right: 8px;
    padding-left: 8px;
} 
footer a#rss > i::before{
    background-color: #f26522;
    border: 1px solid #f26522;
    padding-right: 7px;
    padding-left: 7px;
} 
.bg_footer{
    background-color: rgba(0,0,0);
}
.f-logo_1{
    color: var(--logo-1);
}
.f-logo_2{
    color: var(--logo-2);
}
.f-logo_3{
    color: var(--logo-3);
}